
body {
    background-image: url('/Users/harshitsuri/Documents/GitHub/ExaplainIQ/explain/public/images/img-9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top:200px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.868);
    padding-bottom: 30px;
    width:600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width:100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #88bf89;
    color: white;
    width: 170px;
    height:59px;
    align-items: center;
    justify-content: center ;
    margin: 8px 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    display:inline-block;
  }
  
  button[type="submit"]:hover {
    opacity: 0.8;
  }
  
  
  h2 {
    color: #60000000;
  }
  
  label {
    color: #333;
  }
  .navbar {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Other styling for your navbar */
  }
